@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--color-primary);
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(255, 0, 200);
    position: relative;
    top: 70px;
    right: 0px;
}
.img img{
    display: flex;
    width: 400px;
    height: 400px;
   position: relative;
   top: 200px;
   right: -780px;
   border-radius: 50%;
}
.descripcion {
    display: flex;
    width: 500px;
    height: 20px;
    font-size: 30px;
    color: black;
    position: relative;
    top: 80px;
    right: -750px;
}